main {
    margin-top: 8%;
    padding: 1.5vw;
}

.video_container {
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    padding: 1vw;
    margin-top: 2vw;
    justify-content: space-evenly;
    grid-row-gap: 3vw;
}

.video_container iframe {
    height: 25vw;
    width: 35vw;
    border-radius: 20px;

}